<header  >
  <nav>
    <input type="checkbox" id="checkbox-menu">
    <label for="checkbox-menu">
      <ul class="menu toch">
        <li><a class="logo" href="#">
          <div class="header_prelude111" >
            <img src="https://i.ibb.co/sRcKWnx/prelude.png" class="prelude" alt="">
            <div class="contacts">
              PRELUDE
            </div>
          </div>
        </a>
        </li>
        <li class="home"><a href="#">Home</a> <img src="https://i.ibb.co/09WhFZ7/Caret.png" class="caret" alt=""> </li>
        <li class=" get__about" ><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Resources</a></li>
        <li>
          <div class="cartSearch" >
            <div class="cartSearch" >
              <img src="https://i.ibb.co/68G6jkf/Cart.png" alt="" class="cart">
            </div>
            <div class="getSearch" >
              <img src="https://i.ibb.co/sWWX9mc/Vector-Smart-Object.png" alt="" class="search">
            </div>
            <div>
              <div class="btn1" >
                <div class="btn2" >Purchase</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <span class="toggle">☰</span>
    </label>
  </nav>
</header>


<main>

  <div class="main_fon">
    <div class="wrapper">
      <div class="wrapper_section" >
        <div class="fon_text">
          <div class="zag_fon">
            <h1>Your projects and   tasks <br> through every stage. </h1>
            <p>You know where work stands and can keep everyone aligned <br>
              on goals. Plan and structure work in a way that’s best for you.</p>
            <div class="safari">
              <div class="app_store" ><img src="https://i.ibb.co/55GGWNr/Vector-Smart-Object12.png" class="app_store11" alt=""></div>
              <div class="google_play" ><img src="https://i.ibb.co/k5Jv2pg/Vector-Smart-Object8.png" class="app_store11" alt=""></div>
            </div>
          </div>
          <div class="strela" >
            <i class="fa fa-long-arrow-down" aria-hidden="true"></i></div>
        </div>
        <div class="object">

        </div>
      </div>
    </div>
  </div>
  <div class="sponsor">
    <div class="wrapper_get">
      <div class="sposorObj">
        <img src="https://i.ibb.co/9rh26WQ/sponsor3.png" class="sponsorIkona" alt="">
        <img src="https://i.ibb.co/jh0dMG3/sponsor2.png" class="sponsorIkona  textIkona" alt="">
        <img src="https://i.ibb.co/9rh26WQ/sponsor3.png" class="sponsorIkona " alt="">
        <img src="https://i.ibb.co/93R0ZPP/sponsor4.png" class="sponsorIkona textIkona" alt="">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="main_selection">
      <div class="selector__text">
        <h1>The simple work management platform</h1>
        <p class="selector__text22" >A new way to manage your <br>
          <span class="work" >work, tasks and projects</span>  </p>
        <p class="text__selector" >It's easy to track your time by project and task. Assign your logged time to projects and tasks.
          <br>
          Time to bill? Select the relevant time entries and click invoice. It's that simple. </p>
      </div>
    </div>
  </div>

  <div class="selectorPlaybook">
    <div class="wrapper_get">
      <div class="message">
        <div class="obkect__playbook">
          <img src="https://i.ibb.co/KwwDWBk/Icon.png"  class="greenIkona"  alt="">
          <p class="zagPlaybook">Always In Sync</p>
          <p class="zagText">Arrange tasks in board, list, and timeline view to fit your   needs. Track productivity with our dashboard.</p>
          <div class="bord"></div>
        </div>
        <div class="obkect__playbook">
          <img src="https://i.ibb.co/HY4RPrr/Icon1.png" class="greenIkona" alt="">
          <p class="zagPlaybook">The Team Playbook</p>
          <p class="zagText">Arrange tasks in board, list, and timeline view to fit your   needs. Track productivity with our dashboard.</p>
          <div class="bord"></div>
        </div>
        <div class="obkect__playbook">
          <img src="https://i.ibb.co/QN9TYhH/Icon2.png" class="greenIkona" alt="">
          <p class="zagPlaybook">A Productivity Platform</p>
          <p class="zagText">Arrange tasks in board, list, and timeline view to fit your   needs. Track productivity with our dashboard.</p>
          <div class="bord"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper_get">
    <img src="https://i.ibb.co/bmJWDpB/BG4.png" class="sberbank" alt="">
  </div>

  <div class="wrapper__gray">
    <div class="lini1">
      <div class="wrapper_get" >

        <div class="start__obj">
          <div class="start_manage">
            <div class="start_color" ><span class="edinica" >1</span>
              <img src="https://i.ibb.co/kJKpxZ8/Dots-Right.png" class="tochki" alt="">
            </div>
            <p class="start_zag">Start</p>
            <p class="start_text">See all apps, integrations, and extensions <br>
              for desktop, browser and email.</p>
          </div>
          <div class="start_manage">
            <div class="start_color SC2" >
              <span class="edinica2" >2</span>
              <img src="https://i.ibb.co/kJKpxZ8/Dots-Right.png" class="tochki" alt="">
            </div>
            <p class="start_zag">Manage</p>
            <p class="start_text">See all apps, integrations, and extensions <br>
              for desktop, browser and email.</p>
          </div>
          <div class="start_manage">
            <div class="start_color SC2" ><span class="edinica2" >3</span></div>
            <p class="start_zag">Grow</p>
            <p class="start_text">See all apps, integrations, and extensions <br>
              for desktop, browser and email.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content__main">
    <div class="wrapper">
      <div class="content__object">

        <div class="content__select" >
          <div class="content_text__zagolovok">
            <div class="content_zag">
              We are a future-oriented hybrid agency
            </div>
            <p class="content_Zagolovk">
                <span class="share__assign" >
                Share details and assign <br> tasks.
               </span>
              All in one place</p>
            <p class="content_text" >
              Plan and structure work in a way that’s best for you. Set priorities and <br>
              deadlines. Eliminate roadblocks. Even when plans change.
            </p>
          </div>
          <div class="ProhectsTeamsTasks">
            <div class="content__project">
              <div class="cifra" >3.2<span class="m" >m</span> </div>
              <div class="content__project_zag" >
                Projects
              </div>
              <p class="content__project__text" >
                We helps teams manage <br>
                many tasks at same time.
              </p>
            </div>
            <div class="content__project">
              <div class="cifra" >2.1<span class="m" >k</span> </div>
              <div class="content__project_zag" >
                Teams
              </div>
              <p class="content__project__text" >
                We helps teams manage <br>
                many tasks at same time.
              </p>
            </div>
            <div class="content__project">
              <div class="cifra" >7.3<span class="m" >m</span> </div>
              <div class="content__project_zag" >
                Tasks
              </div>
              <p class="content__project__text" >
                We helps teams manage <br>
                many tasks at same time.
              </p>
            </div>
          </div>
        </div>

        <div class="content__select22" >
          <div class="content__object__foto">
            <div class="get__devuchka" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="selector__img_video_calendar">
    <div class="wrapper">
      <div class="center" >
        <div class="glava__obj__center" >
          <div class="get__center__block1" >
            <img src="https://i.ibb.co/93xwQYV/Icon4.png" alt="">
            <div class="center__text_zag" >
              <span class="center_zag" >With Intuitive Design</span>
              <p class="centet_text" >You'll know exactly who’s working on what and <br>
                when it’s due.</p>
            </div>
          </div>
          <div class="get__center__block1 block2" >
            <img src="https://i.ibb.co/QbqXn5x/Icon6.png" alt="">
            <div class="center__text_zag" >
              <span class="center_zag">With Intuitive Design</span>
              <p class="centet_text">You'll know exactly who’s working on what and <br>
                when it’s due.</p>
            </div>
          </div>
        </div>
        <div class="glava__obj__center2 " >
          <div class="get__center__block3" >
            <img src="https://i.ibb.co/D49dczx/Icon3.png" alt="">
            <div class="center__text_zag" >
              <span class="center_zag" >With Intuitive Design</span>
              <p class="centet_text" >You'll know exactly who’s working on what and <br>
                when it’s due.</p>
            </div>
          </div>
          <div class="get__center__block1 block2 " >
            <img src="https://i.ibb.co/JthzMSG/Icon5.png" alt="">
            <div class="center__text_zag" >
              <span class="center_zag" >With Intuitive Design</span>
              <p class="centet_text"  >You'll know exactly who’s working on what and <br>
                when it’s due.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="glavaPortfolio" >

    <div class="port__text" >
      <p  class="port__get__zag" >See why thousands of companies love using our app</p>
      <p class="port__get__text" >Read how these customers organize their work with Prelude</p>
    </div>
    <div class="portfolio__rabotniki" >
      <div class="portfolio" >
        <div class="getPortfolio getport" >
          <div class="get__portfolio__block1 block2 " >
            <img src="https://i.ibb.co/2sYSfp1/personaj1.png" class="personaj" alt="">
            <div class="portfolio__text_zag" >
              <span class="portfolio_name" >Monica Smith</span>
              <span class="portfolio_rabota"  >CEO & Founder</span>

            </div>
          </div>
          <div class="portfolio__get__zag">Awesome app!</div>
          <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
          <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
        </div>
      </div>


      <div class="portfolio port2 " >
        <img src="https://i.ibb.co/4W6gmcZ/Blue-Dots.png" class="dost__get" alt="">
        <div class="getPortfolio" >
          <div class="get__portfolio__block1 block2 " >
            <img src="https://i.ibb.co/xCvsdRC/personaj2.png" class="personaj" alt="">
            <div class="portfolio__text_zag" >
              <span class="portfolio_name" >Thomas Smith</span>
              <span class="portfolio_rabota"  >CEO & Founder</span>

            </div>
          </div>
          <div class="portfolio__get__zag">This team rocks!</div>
          <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
          <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
        </div>
      </div>

      <div class="content" >
        <div class="portfolio" >
          <div class="getPortfolio" >
            <div class="get__portfolio__block1 block2 " >
              <img src="https://i.ibb.co/FWbFjYR/personaj3.png" class="personaj" alt="">
              <div class="portfolio__text_zag" >
                <span class="portfolio_name" >Stella Smith</span>
                <span class="portfolio_rabota"  >CEO & Founder</span>

              </div>
            </div>
            <div class="portfolio__get__zag">They made it easy!</div>
            <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
            <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
          </div>
        </div>
        <div class="portfolio" >
          <div class="getPortfolio" >
            <div class="get__portfolio__block1 block2 " >
              <img src="https://i.ibb.co/Cv53JNv/personaj4.png" class="personaj" alt="">
              <div class="portfolio__text_zag" >
                <span class="portfolio_name" >Vincent Smith</span>
                <span class="portfolio_rabota"  >CEO & Founder</span>

              </div>
            </div>
            <div class="portfolio__get__zag">Very useful app!</div>
            <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
            <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
          </div>
        </div>
      </div>
      <div class="portfolio port2" >
        <img src="https://i.ibb.co/k5hpJsH/Pink-Dots.png" class="dost__get" alt="">
        <div class="getPortfolio" >
          <div class="get__portfolio__block1 block2 " >
            <img src="https://i.ibb.co/qnHkx4z/personaj5.png" class="personaj" alt="">
            <div class="portfolio__text_zag" >
              <span class="portfolio_name" >Jane Smith</span>
              <span class="portfolio_rabota"  >CEO & Founder</span>

            </div>
          </div>
          <div class="portfolio__get__zag">Good job!</div>
          <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
          <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
        </div>
      </div>
      <div class="content" >
        <div class="portfolio" >
          <div class="getPortfolio" >
            <div class="get__portfolio__block1 block2 " >
              <img src="https://i.ibb.co/cQM8fkf/personaj7.png" class="personaj" alt="">
              <div class="portfolio__text_zag" >
                <span class="portfolio_name" >Ernest Smith</span>
                <span class="portfolio_rabota"  >CEO & Founder</span>

              </div>
            </div>
            <div class="portfolio__get__zag">This is a super app!</div>
            <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
            <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
          </div>
        </div>
        <div class="portfolio" >
          <div class="getPortfolio" >
            <div class="get__portfolio__block1 block2 " >
              <img src="https://i.ibb.co/qFtbBZs/personaj6.png" class="personaj" alt="">
              <div class="portfolio__text_zag" >
                <span class="portfolio_name" >John Smith</span>
                <span class="portfolio_rabota"  >CEO & Founder</span>

              </div>
            </div>
            <div class="portfolio__get__zag">Works like magic!</div>
            <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
            <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
          </div>
        </div>

      </div>
      <div class="portfolio port2" >
        <div class="getPortfolio getport" >
          <div class="get__portfolio__block1 block2 " >
            <img src="https://i.ibb.co/cNGP0ck/personaj8.png" class="personaj" alt="">
            <div class="portfolio__text_zag" >
              <span class="portfolio_name" >Jackson Smith</span>
              <span class="portfolio_rabota"  >CEO & Founder</span>

            </div>
          </div>
          <div class="portfolio__get__zag">Jackson Smith</div>
          <p class="portfolio__get__text" >Really fun and interactive. Easy-to-use app worked instantly for me!</p>
          <img src="https://i.ibb.co/r70SB3b/Star-Icon.png" class="zvezdochki" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="wrapper">
    <div class="main_selection">
      <div class="selector__text phone__text">
        <h1>The simple work management platform</h1>
        <p class="selector__text22" >Your projects gets completed<br>
          <span class="work" > faster and easier.</span>  </p>
      </div>
    </div>
  </div>
  <div class="phone">
    <img src="https://i.ibb.co/RY7n0NF/phone555.png" class="iphone" alt="">
  </div>

  <div class="get__woman">
    <div class="wrapper">
      <div class="fon_text get__fon__Text">
        <div class="woman_get_zag">
          <div class="woman__zag"><span class="started" > To get started,</span>   <span class="install" > download <br> & install now!</span> </div>
          <p class="woman_text" >Prelude helps teams manage tasks and communication <br> so projects
            gets completed faster and easier.</p>
          <div class="safari">
            <div class="app_store" ><img src="https://i.ibb.co/6Jjrrj9/AppStore.png" class="app_store11 " alt=""></div>
            <div class="google_play" ><img src="https://i.ibb.co/LRdb8xz/Play-Store.png" class="app_store11" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="wrapper">
  <img src="https://i.ibb.co/ZVGS4fs/Subscribe.png" class="subsride" alt="">
</div>

<footer>

  <div class="get__footer">
    <div class="lini1">

      <div class="footer__slova">
        <div class="footer__get__slova" >
          <div class="header_prelude111" >
            <img src="https://i.ibb.co/sRcKWnx/prelude.png" class="prelude" alt="">
            <div class="contacts">
              PRELUDE
            </div>
          </div>
          <p class="footer__text" >Learn and improve your knowledge with <br>
            our industry experts.</p>
          <div class="footer__ikona">
            <div class="foot_ik" ><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="foot_ik foot_ik22" ><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="foot_ik foot_ik22" ><i class="fa fa-instagram" aria-hidden="true"></i></div>
          </div>
        </div>
        <div class="footer__get__slova22">
          <div class="slova__zag">
            About
          </div>
          <div class="slova__content" >Services</div>
          <div class="slova__content">Portfolio</div>
          <div class="slova__content">About</div>
          <div class="slova__content">Blog</div>

        </div>
        <div class="footer__get__slova22">
          <div class="slova__zag">
            Products
          </div>
          <div class="slova__content" >Platform</div>
          <div class="slova__content">Customers</div>
          <div class="slova__content">Products</div>
          <div class="slova__content">Pricing</div>

        </div>
        <div class="footer__get__slova22  foot__get__slov">
          <div class="slova__zag">
            Resources
          </div>
          <div class="slova__content" >Training</div>
          <div class="slova__content">Marketplace</div>
          <div class="slova__content">Experts</div>
          <div class="slova__content">Guides</div>

        </div>
        <div class="footer__get__slova22 offices">
          <div class="slova__zag  ">
            Offices
          </div>
          <div class="slova__content content22" >New York. 112 W 34th,<br>Manhattan. USA. <br>
            <span class="number" >8922-473-73-19 </span>
          </div>
        </div>
      </div>
      <div class="bord_bott"></div>
      <div class="conec" >
        <div class="prelude__2019" >©2019 Prelude by Viworx-Co. All Rights Reserved.</div>
        <div class="privacy__policy" >Terms of use |Privacy policy</div>
      </div>

    </div>
  </div>

</footer>


<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>

<script>

  menu.onclick = function myFunvtion() {
    let x = document.getElementById('myTopnav');
    if(x.className === 'topnav') {
      x.className += ' responsive'
    } else {
      x.className = 'topnav';
    }
  }

</script>
